{% extends "base.html" %}

{% block content %}
<div class="container" style="width: 50%;">
    {% for tweet in tweets %}
    <div class="card" style="padding: 10px;">
        <div class="card-header" style="background-color: deepskyblue; height: 40px;">
           <h5> {{tweet.username}} </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{tweet.message}}
            </p>
        </div>
        {% if tweet.username == user %}
        <div style="display: flex; justify-content: right;">
        <a href="{% url 'tweetapp:deletetweet' id=tweet.id %}" class="btn btn-danger" style="width: 20%;">Delete</a>
        </div>
        {%endif%}
    </div>
    {% endfor %}
    
</div>
{% endblock %}